*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: ;
    line-height: 1.4;
    font-weight: 300;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.grid {
    background-color: #ffffff;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.grid div {
    border: 1px solid black;
    color: #fff;
}

.road {
    background-color: rgb(168, 142, 142);
}

.car {
    background-color: #d48a8a;
}

.river {
    background-color: rgb(58, 100, 179);
}

.log {
    background-color: #5c4134;
}

.frog {
    background-color: rgb(48, 119, 57);
}
